/* 
=================================================
RESET.CSS
=================================================
- This stylesheet serves to reset browser defaults.
- Global CSS variables are defined in the :root for easy theming and consistency.
- This file is loaded before other stylesheets to correctly apply variables and resets.
=================================================
*/



/* 
=================================================
UNIVERSAL STYLING
=================================================
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
=================================================
BASE STYLING
=================================================
*/

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    color: black;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
}


a:focus,
a:hover {
    text-decoration: underline;
    outline: 2px solid #ffffff;
}


img {
    max-width: 100%;
    display: block;
}


.menuBar {
    list-style-type: none;
    padding: 0;
}


.text-content ul {
    list-style-type: none;
}


/* 
=================================================
GLOBAL CSS VARIABLES
=================================================
- These variables help keep our design consistent.
- Change values here to update them across the whole site.
=================================================
*/

:root {
    --header-bg: linear-gradient(to bottom, #068906b2, transparent);
    --nav-link-color: #fff;
    --nav-link-hover-bg: rgba(200, 218, 209, 0.287);
    ...
}
