/*
=================================================
NAVIGATION STYLING
=================================================
*/

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -20px;
    right: -10px;
    left: 0px;
    padding: var(--main-padding);
    background: linear-gradient(to bottom, #068906b2, transparent);
    height: 125px;
    position: fixed;
    width: 100%;
    transition: var(--main-transition);
    z-index: 1000;
}


.logoWrapper {
    width: 80px;
    height: 75px;
    top: 5px;
    left: -15px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 8px var(--shadow-color);
}

.mainNav img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: -5px;
}


.menuBar {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    background-color: var(--secondary-bg-color);
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

.menuBar li a {
    color: var(--text-inverse-color);
    transition: background-color var(--main-transition);
    padding: 10px 15px;
    border-radius: var(--border-radius);
    
}

.menuBar li a:hover,
.menuBar li a:focus {
    background-color: var(--hover-color);
    outline: none;
}


/* 
=================================================
MOBILE NAVIGATION STYLING
=================================================
*/

.mobile-menu {
    font-size: 3rem;
    display: none;
    cursor: pointer;
    padding: 15px;
    color: var(--primary-color);
}

#hamburger-btn {
    z-index: 1001;
    /* setting this value higher than the z-index of the mobile menu */
}

#nav-menu.mobile-active {
    display: block;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--text-color);
    z-index: 1000;
}

#nav-menu.mobile-active li a {
    padding: 0px;
    text-align: center;
    width: 100%;
    display: block;
    color: var(--text-inverse-color);
}

#hamburger-btn:hover,
#hamburger-btn:focus {
    text-decoration: none;
}

#nav-menu.mobile-active li a:hover,
#nav-menu.mobile-active li a:focus {
    background-color: transparent;
    outline: none;
}



/* 
=================================================
BACKGROUND STYLING
=================================================
*/

.background-container {
    background-image: url("media/vr.png");
    margin-top: 0;
    padding-top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    /* opacity: 95%; */
}


/* 
=================================================
HOME SECTION STYLING
=================================================
*/

#home h1 {
    font-size: var(--h1-font-size);
    color: var(--text-inverse-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-color: rgba(11, 81, 11, 0.3);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    margin-top: 85px;
}


/* 
=================================================
GENERAL SECTION STYLING
=================================================
*/

#about,
#team,
#testimonials {
    padding: var(--modal-padding);
    text-align: center;
    background-color: var(--background-color);
}

h2 {
    font-size: var(--h2-font-size);
    margin-top: 0.5em;
    margin-bottom: 5rem;
    color: var(--text-color);
    text-decoration: underline;
    text-align: center;
}

h3, p {
    text-align: left;
    margin-bottom: 0.9rem;
    font-size: var(--h3-font-size);
}


/* 
=================================================
TEXT & IMAGE STYLING
=================================================
*/

.text-wrapper {
    display: flex;
    gap: var(--main-gap); 
    align-items: flex-start;  /* Aligns children to the top of the container */
}

/*specific style for 'Service we provide' section */
.text-wrapper.reverse {
    flex-direction: row-reverse;
}

.text-content {
    flex: 1;  /* Allows it to occupy the remaining space in the flex container */
    padding: var(--main-padding);
    margin: var(--main-margin) 0 20px 0px;
    display: flex;
    flex-direction: column;  /* Stack its children vertically */
}

.text-content h3 {
    margin-bottom: 0.9rem;
}

.text-content p {
    margin-top: 0.5rem;
}

/* Styles for unordered list inside the text */
.text-content ul {
    list-style-type: none;
    padding-left: 0;
}

.text-content li {
    margin-bottom: 0.65rem;
    text-align: left;
    margin-left: 20px;
}

.about-img {
    flex-shrink: 0;  /* Prevents the image from shrinking */
    width: 30%;
    margin-bottom: 40px;
    margin-right: 20px; 
}

#teaserButton {
    width: 50%;
    margin-top: 50px;
}

/* Specific styles for the mission text */
.text-content.mission-text {
    align-items: center;
}


/* 
=================================================
MODAL STYLING
=================================================
*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg-color);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--modal-padding);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
}


/* Close button styling within the modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px 8px;
}

/* Video element styling */
video {
    width: 100%;
    max-height: 70vh;
}


/* 
=================================================
BUTTON STYLING
=================================================
*/

button {
    font-size: var(--main-font-size);
    margin-top: var(--main-margin);
    padding: var(--button-padding);
    background-color: var(--button-bg-color);
    color: var(--text-inverse-color);
    border-radius: var(--border-radius);
    transition: var(--main-transition);
    cursor: pointer;
}

button:hover {
    background-color: var(--button-bg-hover-color);
}


/* 
=================================================
TEAM STYLING
=================================================
*/

#team {
    position: relative;
    overflow: hidden;
}


#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 250vh;
    object-fit: cover;
    z-index: 1;
}

.team-section {
    position: relative;
    z-index: 3;
    color: var(--text-color);
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-member {
    display: flex;
    flex-basis: calc(33.333% - 20px);
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
}

#team>h2 {
    position: relative;
    z-index: 5;
    color: var(--text-color);
    text-align: center;
}

.team-member img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid white;
}

.team-member p span {
    font-weight: bold;
    font-style: italic;
}

h3, p em {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: var(--primary-color);
}

/* 
=================================================
TESTIMONIALS STYLING
=================================================
*/

#testimonials {
    padding: var(--modal-padding);
    background-color: var(--background-color);
    text-align: center;
}


.testimonial-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.reviews {
    font-size: 0.9rem;
    width: 23%;
    padding: 1.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: left;
}

/* Blockquote styling for testimonial content */
blockquote {
    font-size: 1em;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

cite {
    font-size: 0.875em;
    display: block;
    margin-top: 0.5rem;
    font-style: normal;
    font-weight: bold;
}


/* 
=================================================
CONTACT FORM STYLING
=================================================
*/

#contact {
    padding: var(--modal-padding);
    background-color: var(--background-color);
    text-align: center;
    background-image: url("media/room.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.input-group {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group input,
.input-group textarea {
    width: 100%;
    max-width: 500px;
    padding: 0.5rem;
    border: 1px solid var(--button-bg-color);
    border-radius: var(--border-radius);
    font-size: 0.8rem;
    background-color: var(--text-inverse-color);
}

.input-group textarea {
    resize: vertical;
}



/* 
=================================================
FIELDSET STYLING
=================================================
*/

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    font-size: 0.8rem;
    margin: 0 auto;
    padding-bottom: 15px;
    border: 1px solid #333;
    border-radius: var(--border-radius);
    background-color: rgba(255, 255, 255, 0.8);
}

legend {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--text-inverse-color);
    border: 1px solid var(--button-bg-color);
    padding: 4px;
    border-radius: 3px;
}

/* Radio buttons styling */
.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.radio-group label {
    margin-left: 10px; 
    margin-right: 20px;
}

.radio {
    display: inline-block;
    margin: 0.2rem;
    padding: 0.1rem 0.5rem;
    background-color: rgba(243, 248, 247, 0.287);
    border-radius: 3px;
}

input[type="radio"]:checked+.radio {
    background-color: #ccc;
    color: #000;
}

.input-group textarea::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#submit {
    background-color: var(--text-color);
    color: white;
    font-size: var(--main-font-size);
    padding: 10px;
    margin-top: 5px;
}

#submit:hover {
    background-color: var(--button-bg-color);
}


/* 
=================================================
THANK YOU MESSAGE STYLING
=================================================
*/

#contactForm {
    position: relative;
}

#thankYouMessage {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 6px 16px;
    border-radius: 5px;
    margin: 0px;
    z-index: 1;
}


/* 
=================================================
FOOTER STYLING
=================================================
*/

footer {
    color: var(--primary-color);
    background-color: var(--text-color);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 
=================================================
SCROLL TO TOP BUTTON STYLING
=================================================
*/

.scroll-top-btn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--text-color);
    color: var(--text-inverse-color);
    cursor: pointer;
    padding: var(--main-padding);
    border-radius: 10px;
    font-size: var(--main-font-size);
    transition: var(--main-transition);
}

.scroll-top-btn:hover {
    background-color: var(--button-bg-hover-color);
}


/* 
=================================================
MUTE BUTTON STYLING
=================================================
*/

#mute-toggle {
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--text-color);
    color: var(--text-inverse-color);
    cursor: pointer;
    padding: var(--main-padding);
    border-radius: 10px;
    font-size: var(--main-font-size);
    transition: background-color 0.3s;
}

#mute-toggle:hover {
    background-color: var(--button-bg-hover-color);
    color: var(--text-color);
}


/* 
=================================================
MEDIA QUERIES STYLING
=================================================
*/

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {

    .background-container {
        background-size: cover;
        background-position: center;
    }

    #home h1 {
        font-size: 2rem;
        left: 50%;
        top: 50%;
        width: 70%;
        text-align: center;
    }

    .menuBar {
        display: block;
        text-align: center;
    }

    .menuBar li {
        display: block;
        margin: 10px 0;
    }

    .about-img-wrapper {
        flex-direction: column;

    }

    #background-video {
        height: auto;
        min-height: 100%;
    }

    .team-section {
        flex-wrap: wrap;
    }

    .team-member {
        flex-basis: 100%;
    }

    .reviews {
        width: 100%;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    #nav-menu {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .about-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-wrapper, 
    .text-wrapper.reverse {
        flex-direction: column;
        align-items: center;
    }

    fieldset {
        max-width: 100%;
        padding: 15px;
    }

    
    .radio-group {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center; 
    }

    .radio-group label {
        margin-right: 0;
        margin-bottom: 10px;  
    }

    .radio-group input[type="radio"],
    .radio-group label {
        margin: 2px; 
    }

}


@media screen and (min-width: 769px) {
    #nav-menu.mobile-active {
        display: none;
        position: static;
        background-color: transparent;
    }
}

/* Media queries for medium screens */
@media screen and (min-width: 769px) and (max-width: 1250px) {

    #background-video {
        height: auto;
        min-height: 100%;
    }

    .team-section {
        flex-wrap: wrap;
    }

    #testimonials {
        padding: 3rem 2rem;
    }

    .reviews {
        width: 48%;

    }
}